<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<!-- The Tour Section -->
<div class="w3-black" id="tour">
  <div class="w3-container w3-content w3-padding-64" style="max-width: 800px">
    <div class="w3-row-padding w3-padding-32" style="margin: 0 -16px">
      <div class="w3-third w3-margin-bottom">
        <!-- <img src="/w3images/newyork.jpg" alt="New York" style="width: 100%" class="w3-hover-opacity" /> -->
        <div class="w3-container w3-white">
          <p><b>Proveedores</b></p>
          <p class="w3-opacity">CRUD de Proveedores</p>
          <!-- <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p> -->
          <a class="w3-button w3-black w3-margin-bottom" href="/proveedor"
            >Ingresar</a
          >
        </div>
      </div>
      <div class="w3-third w3-margin-bottom">
        <!-- <img src="/w3images/paris.jpg" alt="Paris" style="width: 100%" class="w3-hover-opacity" /> -->
        <div class="w3-container w3-white">
          <p><b>Factura</b></p>
          <p class="w3-opacity">CRUD de la Factura</p>
          <!-- <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p> -->
          <a class="w3-button w3-black w3-margin-bottom" href="/cabeceras"
            >Ingresar</a
          >
        </div>
      </div>
      <div class="w3-third w3-margin-bottom">
        <!-- <img src="/w3images/sanfran.jpg" alt="San Francisco" style="width: 100%" class="w3-hover-opacity" /> -->
        <div class="w3-container w3-white">
          <p><b>Reportes</b></p>
          <p class="w3-opacity">Reporte de Facturas de Compra</p>

          <a class="w3-button w3-black w3-margin-bottom" href="/reportes"
            >Ingresar</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Band Section -->
<div
  class="w3-container w3-content w3-center w3-padding-64"
  style="max-width: 800px"
  id="band"
>
  <h2 class="w3-wide">MÓDULO COMPRAS</h2>
  <p class="w3-opacity"><i>PROYECTO FINAL</i></p>
  <p class="w3-justify">
    Este proyecto nos muestra el consumo de una API desplegada en Heroku como
    plataforma en la nube. Nos encagarmos de realizar las compras a los
    proveedores y mostrar como reporte las facturas de dichas compras. Este
    módulo ha sido desarrollado por el grupo de la Zona 1 de Coworking de la
    materia de Aplicaciones Distribuidas con los siguientes integrantes:
  </p>
  <div class="w3-row w3-padding-32">
    <div class="w3-third">
      <h4 style="font-weight: bold">Ricardo Avila</h4>
      <p>Universidad Técnica del Norte - FICA</p>
      <p>Estudiante de la Carrera de Ingeniría de Software</p>
      <!-- <img src="/w3images/bandmember.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width: 60%" /> -->
    </div>
    <div class="w3-third">
      <h4 style="font-weight: bold">Dennis Chicaiza</h4>
      <p>Universidad Técnica del Norte - FICA</p>
      <p>Estudiante de la Carrera de Ingeniría de Software</p>
      <!-- <img src="/w3images/bandmember.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width: 60%" /> -->
    </div>
    <div class="w3-third">
      <h4 style="font-weight: bold">Fernando Chulde</h4>
      <p>Universidad Técnica del Norte - FICA</p>
      <p>Estudiante de la Carrera de Ingeniría de Software</p>
      <!-- <img src="/w3images/bandmember.jpg" class="w3-round" alt="Random Name" style="width: 60%" /> -->
    </div>
    <div class="w3-third">
      <p></p>
      <!-- <img src="/w3images/bandmember.jpg" class="w3-round" alt="Random Name" style="width: 60%" /> -->
    </div>
    <div class="w3-third">
      <h4 style="font-weight: bold">Daniel Guerra</h4>
      <p>Universidad Técnica del Norte - FICA</p>
      <p>Estudiante de la Carrera de Ingeniría de Software</p>
      <!-- <img src="/w3images/bandmember.jpg" class="w3-round" alt="Random Name" style="width: 60%" /> -->
    </div>
    <div class="w3-third">
      <p></p>
      <!-- <img src="/w3images/bandmember.jpg" class="w3-round" alt="Random Name" style="width: 60%" /> -->
    </div>
  </div>
</div>
