.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .container {
      width: 20%;
      margin-left: 40%;
  }

  .separador {
      width: 20%;
  }

  table {
    width: 100%;
    padding: 2%;
  }

  .item {
    text-align: left;
  }